Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

*.VC.db
*.VC.opendb
*.suo
*.opensdf
*.sdf
*.log

*.uproject.user
*.opensdf
*.opendb

Backup/

Plugins/*/Intermediate/
Plugins/*/Binaries/

.DS_Store
Thumbs.db